footer {
    background-color: white;
    padding: 20px 0;
    color: var(--gris-oscuro);
}

footer section{
    text-align: center;
    padding: 20px 50px;
}

 footer section i{
    background-color:white;
    color: var(--color-celeste);
    font-size: 2em;
    margin-bottom: 10px;
}

footer h3{
    font-size: var(--descripciones);
    font-family: var(--tipografia);
    color: var(--gris-oscuro);
}

footer section p{
    text-align: center;
    font-size: var(--cuerpo);
    color: var(--gris-oscuro);
}

footer section .derechos{
    color: var(--gris-oscuro);
    margin-left: 10px;
    margin-top: 20px;
    padding-bottom: 10px;
    
}
