@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root{
    --color-amarillo:#EAC926;
    --color-azul:#03264C;
    --color-celeste:#1259c3;
    --color-verde:#39b54a;
    --gris-oscuro:#666;
    --gris-claro:#ebebeb;
    --tipografia:'Roboto';
    --cuerpo: 12px;
    --titulares: 24px;
    --precios: 18px;
    --descuentos: 16px;
    --descripciones: 16px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--gris-claro);
    font-family: var(--cuerpo);
}


