.home main{
    margin-bottom: 20px;
}
.home main section{
    width: 90%;
    margin: 0 auto; 
}
.home main .banner{
    display: none; 
}
.home main img{
     width: 100%;
     
 }

.home main section h2{
    font-size: var(--titulares);
    font-family: var(--tipografia);
    padding: 10px 0;
}

.home main section article{
    background-color: white;
    margin: 10px 0;
    text-align: center;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);

}

.home main section article img{
    width: 90%;

}

.home main section article .infoproducto{
     padding: 20px;
     border-top: 1px solid var(--gris-claro);
     text-align: left;
     position: relative;
     display: flex; 
     flex-wrap: wrap;
    
   
 }

.home main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    color:#39b54a; ;
   }

.home main section article span.precio{
    font-size: var(--precios);
    margin-right: 10px;
    width: 25%;
}

.home main section article span.descuento{
    font-size: var(--descuentos);
    width: 25%;  
    color: var(--color-verde);
    margin-left: 10px ;
}

.home main section article h4{
    display: inline-block;
    width: 100%;
    font-size: var(--descripciones);
    padding-top: 20px;
}

@media(min-width: 425px){
.home main .banner{
        display: block;
    }

.home main section h2{
        display:inline-block;
        width: 100%;
        text-align: center;
    }
.home main section{
        margin: 0 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
.home main section article{
      width: 40%;
      margin: 20px 15px;
    }

.home main section article .infoproducto{
        padding: 20px 10px;
    }
.home main section article span.precio{
        margin-right: 0;
        width: 50%;
    }
    
.home main section article span.descuento{
        font-size: var(--descuentos);
        width: 50%;  
        color: var(--color-verde);
        margin-left: 0;
    }
    
}

@media (min-width: 768px){
.home main section article {
        margin: 10px;
        width: 22%;
}
.home main section article span.precio{
    width: 40%;
    margin-right: 5px;
}

.home main section article span.descuento{
   width: 45%;

}

}


